<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwExceptions="true">
	<targets async="true">
		<target name="consola" xsi:type="ColoredConsole" encoding="utf-8" stderr="true" detectConsoleAvailable="true" />
		<target name="archivo" xsi:type="File" encoding="utf-8" fileName="..\..\..\logs\logs-farmarey-${shortdate}.log"  />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="consola" />
		<logger name="*" minlevel="Debug" writeTo="archivo" />
	</rules>
</nlog>
